
# Node.js dependencies
node_modules/

# Python virtual environment
venv/
.venv/

# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS system files
.DS_Store

# Logs and runtime files
*.log
*.out
*.err
*.pid

# IDE and editor directories
.vscode/
.idea/

# Environment variables
.env

# Build directories
dist/
build/

test.http